* { 
	box-sizing: border-box;
}


button { 
    cursor: pointer; 
}


html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    overflow: hidden;
    background: #f8f8f8 url(images/paper.png) top left;
    font-family: "Liberation Serif", Georgia, serif;
}

hgroup {
    display: block;
    height: 50px;
}

h1 {
    float: left;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px -1px 0px black, 0px 2px 0px white, 1px 1px 0px white, -1px 1px 0px white;
    color: #2266bb;
}

h2 {
    float: left;
    margin: 17px 0 0 10px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
}

h3 {    
    float: left;
    margin: 15px 0 0 10px;
    padding: 0px;
}

#OutForm {
    clear: both;
    height: 80%;
}

#Input {
    float: left;
    padding-left: 15px;
    z-index: 2;
    width: 49.5%;
    margin-right: 1%;
    height: auto;
    display: block;
    border: 1px inset;
    background: rgba(255,255,255,.8);
    box-shadow: inset 0px 3px 20px rgba(0,0,0,.2);
    line-height: 14px;
    font-size: 13px;
    font-family: monospace;
    white-space: nowrap;
    height: 100%;
    transition: height 100ms;
}

#Input:-moz-placeholder  {
    padding-top: 13px;
    color: gray;    
}


#Input::-webkit-input-placeholder {
    padding-top: 13px;
    color: gray;    
}


#Submit {
    position: relative;
    z-index: 19999;
	float: right;
	margin-top: -20px;
	margin-right: 30px;
	font-size: 25px;
	border-radius: 5px;
	border-width: 0px;
	border-style: solid;
	padding: 0 10px 3px 10px;
	box-shadow: inset 0px -10px 30px rgba(0,0,0,.5), 0px 6px 20px rgba(0,0,0,.4);
	background: #2266bb;
    font-family: "Liberation Serif", Georgia, serif;
    color: white;
    text-shadow: 0px 2px 2px #000;
    width: 222px;
    transition: width 300ms, margin-right 300ms;
}

#Submit:hover {
    background: #2277ee;
    text-shadow: 0px 1px 1px #012;
    width: 242px;
    margin-right: 20px;
    transition: width 300ms, margin-right 300ms;
}

#Submit:disabled { 
    opacity: 0.8; 
    color: #ddd;
    text-shadow: 0px 1px 1px #444;
    background: gray; 
}

#Submit:disabled:hover {
    text-shadow: 0px 1px 1px #444;
    background: gray;     
}    
#Submit:disabled img {
    opacity: 0.5;
} 
#Submit img {
	margin-bottom: -7px;
}



#SizeWrap {
    float: right;
    clear: both;
    margin-top: 5px;
    margin-right: 30px;
    color: #000;
    font-size: 12px;
}


#SizeWrap.disabled {
    color: #888;
}


#Clear {
    clear: both;
    float: left;
    margin-top: -3px;
    margin-left: -2px;
    margin-right: 0px;
    font-size: 15px;
    border-width: 0px;
    color: green;
    width: 100px;
    background: transparent;
    font-family: Garamond, serif;
    transition: width 200ms, margin-left 200ms, margin-right 200ms;
}


#Clear:hover {
    background: green;  
    color: white;
    border-radius: 4px;
    box-shadow: inset 0px 2px 10px rgba(100,0,0,.2);
    text-shadow: 0px 1px 1px rgba(100,0,0,.5);
    font-weight: bold;
    width: 120px;
    margin-left: -12px;
    margin-right: -10px;
    transition: width 200ms, margin-left 200ms, margin-right 200ms;
}


#Save {
    float: left;
    margin-top: -3px;
    margin-left: 12px;
    font-size: 15px;
    border-width: 0px;
    color: #077;
    width: 120px;
    background: transparent;
    font-family: Garamond, serif;
    transition: width 200ms, margin-left 200ms;
}

#Save:hover {
    background: #077; 
    margin-left: 2px; 
    color: white;
    border-radius: 4px;
    box-shadow: inset 0px 2px 10px rgba(100,0,0,.2);
    text-shadow: 0px 1px 1px rgba(100,0,0,.5);
    font-weight: bold;
    width: 140px;
    transition: width 200ms, margin-left 200ms;
}    

#Previous {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;    
    z-index: 2;
    list-style-type: none;
    width: 400px;
    max-height: 100%;
    border-left: 1px solid #ddd;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1), 0px 0px 5px 5px rgba(0,0,0,.1);
    overflow: auto;
    font-size: 16px;
}

#Previous li {
    border-bottom: 1px solid #f8f8f8;    
    background: white;
    padding: 10px 10px 10px 20px;  
}

#Previous li:last-child {
    border-bottom: 0px; 
}

#Previous li.note {
    color: gray;
    font-size: 12px;
    text-align: right;
    padding-right: 20px;
}    
#Previous button.remove {
    float: right;
    background: transparent;
    border: 0px;
    margin-top: 3px;
    color: red;
    width: 57px;
    margin-right: 0px;
    transition: width 200ms, margin-right 200ms;
}

#Previous button.remove:hover {
    background: red;
    color: white;
    border-radius: 4px;
    box-shadow: inset 0px 2px 10px rgba(100,0,0,.2);
    text-shadow: 0px 1px 1px rgba(100,0,0,.5);
    font-weight: bold;
    width: 61px;
    margin-right: -2px;
    transition: width 200ms, margin-right 200ms;
}


#Previous li:first-child {
    position: fixed;
    top: 0px; 
    right: 0px;
    width: 384px;
    padding: 12px 0px 12px 20px;
    border-bottom: 1px solid #f8f8f8; 
    right: 8px;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    text-align: right;
    user-select: none;
    background: white;
    font-size: 12px;
}

#Previous li:first-child:hover {
    color: blue;
    text-decoration: underline;
}    
#Previous li:first-child:after {
    content: " ✖";
}



#Previous.hidden {
    display: none;
}


#Previous.closed {
    height: 0px;
    box-shadow: none;
    border: 0px;
    overflow: hidden;
    background: transparent;
}


#Previous.closed li:first-child {
    border-bottom: 0px;
    background: transparent;
    box-shadow: none;
}

#Previous.closed li:first-child:after {
    content: " ▾";
}


#Out {
    float: left;
    width: 49.5%;
    padding: 0 0 0 50px;
    background: white;
    box-shadow: 0px 3px 20px rgba(0,0,0,.5);
    overflow: scroll;
    overflow-x: hidden;
    line-height: 11px;
    font-size: 13px;
    font-family: monospace;
    height: 100%;
    transition: height 100ms;
}

#Out p {
	margin: 0px;
	white-space: pre;
    cursor: pointer;
}


#Out .message  {
    padding-top: 13px;
    font-size: 13px;
    color: gray;
    white-space: normal;
    line-height: 18px;
    padding-left: 20px;
    margin-left: -45px;
}


.inHeading {
	font-weight: bold; 
}

.noPrint {
	color: #bbb;
    text-shadow: 0px 0px 1px #bbb;
}


.togglable.inPrint {
	color: #33b;
	cursor: pointer;
}